Романский стиль в&nbsp^;архитектуре
Топ-6 самых известных зданий
Романская архитектура&nbsp^;&mdash^; это огромные каменные соборы, в&nbsp^;которых можно потеряться, и&nbsp^;неприступные замки с&nbsp^;толстыми зубчатыми стенами и&nbsp^;высокими башнями, как из&nbsp^;сказок. Величественные здания этого стиля разбросаны по&nbsp^;всей Европе, а&nbsp^;многие из&nbsp^;них находятся под охраной ЮНЕСКО.
История и&nbsp^;особенности романского стиля
Романской европейская архитектура XI-XII веков стала называться в&nbsp^;XIX&nbsp^;веке. Тогда у&nbsp^;историков искусства появилась потребность в&nbsp^;том, чтобы разделить разные средневековые стили X-XV&nbsp^;веков, которые до&nbsp^;этого обозначались как готика. 
Новый термин подчёркивал связь архитектуры этого периода с&nbsp^;римскими традициями (от&nbsp^;латинского romanus&nbsp^;&mdash^; римский). И&nbsp^;действительно, здания романского стиля имеют целый ряд сходств с&nbsp^;античными памятниками. В&nbsp^;первую очередь это выражается в&nbsp^;том, что архитекторы Средневековья заимствовали у&nbsp^;римлян базиликальный тип постройки. Такие здания имеют вытянутую прямоугольную форму с&nbsp^;одним или несколькими нефами&nbsp^;&mdash^; продольными коридорами, отделёнными друг от&nbsp^;друга рядами колонн. Довольно часто для увеличения площади строили также трансепт&nbsp^;&mdash^; ещё один неф, который пересекал пространство базилики поперёк, так что в&nbsp^;плане постройка напоминала крест. 
В&nbsp^;восточной части здания находился алтарь, который завершался снаружи апсидой&nbsp^;&mdash^; полукруглым выступом. Цилиндрические своды (образующие в&nbsp^;поперечном сечении полукруг) опирались на&nbsp^;массивные стены. Именно в&nbsp^;форме базилики построена большая часть храмов романского стиля.
Архитектура этого периода очень разнообразна. Внутри стиля сосуществует множество локальных школ, поэтому постройки одной и&nbsp^;той&nbsp^;же эпохи могут сильно отличаться друг от&nbsp^;друга. Дело в&nbsp^;том, что развитие феодальной раздробленности в&nbsp^;Европе&nbsp^;и, как следствие, самостоятельность отдельных земель повлекли за&nbsp^;собой и&nbsp^;некоторую обособленность искусства. И&nbsp^;всё&nbsp^;же единство европейской культуры обеспечивала церковь, которая в&nbsp^;XI-XII веках достигла вершины своего могущества и&nbsp^;выступала одним из&nbsp^;основных заказчиков при строительстве.
В&nbsp^;период господства романского стиля строилось большое количество культовых сооружений, в&nbsp^;частности монастырских храмов. Они отличаются значительной вариативностью в&nbsp^;плане формы и&nbsp^;декоративных элементов, но&nbsp^;сохраняют некоторые общие черты. Так, эти постройки имели толстые стены, довольно узкие оконные проёмы, крупные столбы центрального нефа и&nbsp^;преимущественно цилиндрические своды. В&nbsp^;западной части храма обычно находилось несколько боковых башен. По&nbsp^;своему внешнему виду такие массивные здания напоминали крепость.
Романские соборы украшали фресками, которые покрывали стены и&nbsp^;своды. Нередко в&nbsp^;оформлении использовались рельефы, которые находились как внутри храма, так и&nbsp^;снаружи. Западный фасад обычно декорировали богаче всего. Орнаментальной резьбой, растительными и&nbsp^;животными мотивами, фигурами людей и&nbsp^;чудовищ украшали капители колонн.
Помимо культовых сооружений, с&nbsp^;X века по&nbsp^;всей Европе строилось и&nbsp^;множество каменных замков. Это объясняется усилением власти феодалов, которые получали от&nbsp^;правителей за&nbsp^;свою службу наделы земли. Они возводили масштабные крепостные постройки, которые являлись и&nbsp^;их&nbsp^;поместьем, и&nbsp^;оборонительным сооружением, и&nbsp^;своеобразным символом власти и&nbsp^;могущества над своими подданными. 
Замковая архитектура имеет ряд особенностей. Здание располагалось чаще всего на&nbsp^;искусственной или естественной возвышенности вблизи реки или дороги. Его окружал ров, который в&nbsp^;случае опасности заполняли водой. Стены увенчивались зубцами, за&nbsp^;выступами которых могли прятаться лучники, оборонявшие замок. Единственным входом служили ворота, к&nbsp^;которым был перекинут подъёмный мост через ров. А&nbsp^;архитектурной доминантой сооружения была каменная дозорная башня&nbsp^;&mdash^; донжон.
Примеры романского стиля в&nbsp^;архитектуре
Романские соборы и&nbsp^;замки можно встретить во&nbsp^;многих европейских странах, но&nbsp^;особенно этот монументальный, строгий и&nbsp^;величественный стиль полюбился архитекторам средневековой Италии, Англии, Франции и&nbsp^;Германии.
Пизанский собор, башня и&nbsp^;баптистерий
Где находится: Италия, Пиза
Особенность итальянских храмов, расположенных в&nbsp^;Тоскане, заключается в&nbsp^;том, что они практически лишены крепостной суровости, присущей большинству построек романского стиля. Напротив, их&nbsp^;фасады выглядят нарядными, а&nbsp^;в&nbsp^;оформлении присутствуют детали в&nbsp^;духе античной классики. Так, здания Пизанского комплекса (собор, башня и&nbsp^;баптистерий) на&nbsp^;Соборной площади богато декорированы изящными аркадами с&nbsp^;рядами стройных колонн.
Строительство масштабного пятинефного собора было начато в&nbsp^;1063 году архитектором Бускетто и&nbsp^;продолжено в&nbsp^;XII веке Райнальдо. Надпись на&nbsp^;храме гласит, что средства на&nbsp^;его возведение были получены из&nbsp^;военных трофеев после победы пизанского флота над сарацинами у&nbsp^;берегов Сицилии. Ближе к&nbsp^;алтарной части через основной объём здания проходит трёхнефный трансепт, а&nbsp^;в&nbsp^;месте их&nbsp^;пересечения расположен купол. Как и&nbsp^;было принято в&nbsp^;Тоскане, фасады беломраморного храма украшены не&nbsp^;скульптурой, а&nbsp^;вставками цветного камня.
Наиболее известная постройка соборного ансамбля&nbsp^;&mdash^; легендарная &laquo^;падающая&raquo^; башня с&nbsp^;колокольней, строительство которой началось в&nbsp^;1173 году и&nbsp^;растянулось примерно на&nbsp^;200&nbsp^;лет. Из-за инженерной ошибки она отклонена от&nbsp^;центральной оси почти на&nbsp^;4&nbsp^;градуса. 
Башня была поставлена на&nbsp^;неглубокий фундамент в&nbsp^;три метра, грунт из&nbsp^;песка и&nbsp^;глины оказался более мягким под южной частью постройки, чем под северной, и&nbsp^;уже в&nbsp^;1178 году она начала наклоняться. Но&nbsp^;главная достопримечательность Пизы известна не&nbsp^;только этим. Итальянский учёный Галилео Галилей в&nbsp^;XVI веке сбрасывал с&nbsp^;её&nbsp^;вершины объекты различной массы, изучая законы земного притяжения. С&nbsp^;помощью этих экспериментов он&nbsp^;доказал, что скорость падения тела не&nbsp^;зависит от&nbsp^;его веса.
Все архитектурные памятники, расположенные на&nbsp^;Соборной площади в&nbsp^;Пизе, входят в&nbsp^;Список Всемирного наследия ЮНЕСКО. 
Даремский собор
Где находится: Великобритания, Дарем
Завоевание Англии нормандцами, которое началось в&nbsp^;1066&nbsp^;году, укрепило культурные связи островного государства с&nbsp^;европейским континентом. Благодаря этому английское искусство стало менее изолированным. Со&nbsp^;второй половины&nbsp^;XI века в&nbsp^;архитектуре прослеживается влияние нормандского стиля&nbsp^;&mdash^; разновидности романского. Он&nbsp^;распространился на&nbsp^;подконтрольных завоевателям территориях.
Строительство масштабного кафедрального собора в&nbsp^;Дареме было начато в&nbsp^;1093 году и&nbsp^;завершено, скорее всего, к&nbsp^;1128&nbsp^;году. Храм находится рядом с&nbsp^;епископским замком на&nbsp^;возвышенности, вокруг которой делает петлю река Уир. Здание представляет собой протяжённую трёхнефную базилику. В&nbsp^;месте пересечения основного объёма постройки с&nbsp^;трансептом расположена высокая башня, а&nbsp^;западный фасад украшают две другие&nbsp^;&mdash^; меньшего размера.
Для перекрытий в&nbsp^;соборе использованы нервюрные своды, состоящие из&nbsp^;выступающих ребёр, которые позволяют уменьшить нагрузку на&nbsp^;опоры. За&nbsp^;счёт такого новаторского для того времени инженерного приёма получилось значительно увеличить пространство храма. 
Любопытно, что нервюрные своды характерны для готических соборов, в&nbsp^;романских&nbsp^;же зданиях применялись в&nbsp^;основном цилиндрические. Они опирались на&nbsp^;толстые стены, которые несли всю нагрузку массивного перекрытия. Однако такая конструкция не&nbsp^;позволяла &laquo^;облегчить&raquo^; здание или увеличить его. Считается, что в&nbsp^;Даремском соборе были впервые применены нервюрные своды, а&nbsp^;сам храм, являясь по&nbsp^;сути романским, стал предвестником готической архитектуры.
Собор в&nbsp^;Дареме входит в&nbsp^;Список Всемирного наследия ЮНЕСКО.
Лондонский Тауэр
Где находится: Великобритания, Лондон
Известный на&nbsp^;весь мир замок-крепость на&nbsp^;левом берегу реки Темзы в&nbsp^;самом сердце Лондона. После подчинения Англии Вильгельм I&nbsp^;Завоеватель начал возводить на&nbsp^;новых территориях множество оборонительных сооружений и&nbsp^;замков. И&nbsp^;лондонский Тауэр стал одной из&nbsp^;самых неприступных крепостей своего времени, окружённой рвом шириной более 36&nbsp^;метров.
Сейчас главная достопримечательность Великобритании представляет собой целый комплекс сооружений, возведённых в&nbsp^;разные исторические эпохи. Самая древняя часть замка-крепости&nbsp^;&mdash^; Белая башня&nbsp^;&mdash^; была заложена около 1078 года и&nbsp^;достроена к&nbsp^;1097-му. Такое название сооружение с&nbsp^;зубчатыми стенами и&nbsp^;четырьмя башенками по&nbsp^;углам получило, скорее всего, из-за того, что в&nbsp^;XIII веке его стены были покрашены в&nbsp^;белый.
По&nbsp^;назначению башня является донжоном, то&nbsp^;есть самой укреплённой частью замка. Здесь располагались жилые помещения владельца, а&nbsp^;также огромные кладовые в&nbsp^;подземельях и&nbsp^;тюрьма. Толщина стен башни&nbsp^;&mdash^; почти 4&nbsp^;метра. В&nbsp^;плане она образует прямоугольник длиной в&nbsp^;36&nbsp^;метров и&nbsp^;шириной в&nbsp^;32,5&nbsp^;метра, а&nbsp^;в&nbsp^;высоту достигает 27&nbsp^;метров. Такие размеры сделали лондонский донжон одним из&nbsp^;самых больших на&nbsp^;территории средневековой Западной Европы.
За&nbsp^;почти тысячелетнюю историю крепости неоднократно менялись её&nbsp^;функции. В&nbsp^;разное время здесь чеканилась монета, хранились бумаги государственного архива, находилась обсерватория, а&nbsp^;также старейший в&nbsp^;Лондоне зверинец. Но&nbsp^;практически с&nbsp^;самого момента основания в&nbsp^;Тауэре размещались королевский двор и&nbsp^;тюрьма, в&nbsp^;которой были заточены Генрих VI, Томас Мор, Анна Болейн, Елизавета I, Гай Фокс и&nbsp^;многие другие исторические личности. Сейчас в&nbsp^;крепости на&nbsp^;берегу Темзы находятся музейные экспозиции, посвящённые истории Великобритании.
Лондонский Тауэр входит в&nbsp^;Список Всемирного наследия ЮНЕСКО.
Церковь Нотр-Дам ла&nbsp^;Гранд
Где находится: Франция, Пуатье
Один из&nbsp^;шедевров романской архитектуры в&nbsp^;Западной Франции. Эта небольшая в&nbsp^;высоту и&nbsp^;довольно простая в&nbsp^;плане трёхнефная базилика с&nbsp^;цилиндрическими сводами и&nbsp^;двускатной кровлей была построена во&nbsp^;второй половине XI&nbsp^;века. Средокрестие увенчивает квадратная в&nbsp^;основании башня с&nbsp^;тремя ярусами, а&nbsp^;фасад украшают две другие, меньшие по&nbsp^;размеру. Толстые и&nbsp^;массивные стены изредка прорезаны узкими маленькими окнами, из-за чего церковь чем-то напоминает крепость. 
Но&nbsp^;общая суровость здания смягчается за&nbsp^;счёт обильного декора. Нижний ярус разделён тремя арками, которые опираются на&nbsp^;ряды колонн. Средняя из&nbsp^;них представляет собой перспективный портал&nbsp^;&mdash^; архитектурно обрамлённый вход в&nbsp^;здание, а&nbsp^;две другие носят чисто декоративный характер. Практически вся поверхность стен над арками покрыта многочисленными скульптурными композициями на&nbsp^;библейские сюжеты из&nbsp^;Ветхого и&nbsp^;Нового заветов. Такое богатое оформление фасадов в&nbsp^;романской архитектуре встречается лишь в&nbsp^;нескольких церквях западной Франции. Чаще всего зодчие локализовали скульптурный декор в&nbsp^;определённых местах, например на&nbsp^;порталах.
Церковь Сен-Мишель Д&rsquo^;Эгиль 
Где находится: Франция, Ле-Пюи-ан-Веле

Была основана в&nbsp^;961 году и&nbsp^;считается старейшим действующим храмом во&nbsp^;Франции. Строительство церкви ознаменовало возвращение из&nbsp^;паломничества епископа Годескалька. Он&nbsp^;первым проделал путь из&nbsp^;Ле-Пюи-ан-Веле в&nbsp^;Сантьяго-де-Компостела в&nbsp^;Испании к&nbsp^;предполагаемой могиле святого Иакова. С&nbsp^;тех пор из&nbsp^;французского городка начинается один из&nbsp^;паломнических путей святого Иакова. 
Церковь находится в&nbsp^;очень живописном месте: на&nbsp^;вершине 82-метровой вулканической скалы д&rsquo^;Эгиль, с&nbsp^;которой открывается вид на&nbsp^;весь небольшой городок, усыпанный зданиями с&nbsp^;черепичными крышами. К&nbsp^;храму ведёт высеченная в&nbsp^;горной породе лестница из&nbsp^;268&nbsp^;ступеней. 
Эта небольшая церковь&nbsp^;&mdash^; пример того, как романские зодчие гармонично вписывали свои постройки в&nbsp^;окружающий пейзаж: изящный силуэт колокольни Сен-Мишель кажется органичным завершением скалы.
Вормсский собор
Где находится: Германия, Вормс
В&nbsp^;XI-XII веках Германия вошла в&nbsp^;фазу длительных междоусобных войн и&nbsp^;феодальной раздробленности. В&nbsp^;это время складывались обособленные княжества, которые экономически и&nbsp^;культурно были слабо связаны друг с&nbsp^;другом. Это повлияло на&nbsp^;развитие большого количества локальных школ в&nbsp^;рамках романского стиля. Особый интерес представляет архитектура крупных городов на&nbsp^;Рейне (Шпайера, Майнца, Вормса), которые подчинялись власти императора Священной Римской империи. Здесь строились монументальные и&nbsp^;величественные храмы.
Грандиозный по&nbsp^;своим размерам собор в&nbsp^;Вормсе был построен в&nbsp^;XII веке и&nbsp^;не&nbsp^;претерпел в&nbsp^;дальнейшем существенных изменений. Здание представляет собой трёхнефную базилику с&nbsp^;небольшим трансептом. Средокрестие и&nbsp^;центр западного фасада венчают приземистые гранёные башни, ещё четыре&nbsp^;&mdash^; более высокие, круглые и&nbsp^;с&nbsp^;конусообразными завершениями&nbsp^;&mdash^; стоят по&nbsp^;углам собора. Строгие геометрические формы, толстые стены, узкие окна и&nbsp^;минимальное декоративное оформление придают зданию строгий вид. Украшают собор лишь немногочисленные аркады и&nbsp^;аркатурные пояски&nbsp^;&mdash^; ряды ложных арочек на&nbsp^;фасаде.
Храм известен как одно из&nbsp^;мест действия средневековой поэмы &laquo^;Песнь о&nbsp^;Нибелунгах&raquo^;, хотя фактически описываемые события происходили до&nbsp^;появления собора.
Заключение
Романская архитектура довольно часто находится в&nbsp^;тени другого средневекового стиля&nbsp^;&mdash^; готики, который может на&nbsp^;первый взгляд показаться более сложным, изящным и&nbsp^;целостным. Но&nbsp^;стоит всмотреться в&nbsp^;величественные базилики с&nbsp^;изысканным скульптурным оформлением фасадов, остроконечными башнями и&nbsp^;воздушными аркадами, и&nbsp^;заблуждения о&nbsp^;простоте и&nbsp^;скучности романских зданий развеются. Именно этот стиль стоял у&nbsp^;истоков готики, и&nbsp^;через массивные стены храмов&nbsp^;XI века прорастала идея об&nbsp^;устремлённых вверх соборах с&nbsp^;огромными витражными окнами.
Романская архитектура очень разнообразна, а&nbsp^;интересные памятники встречаются не&nbsp^;только в&nbsp^;вышеназванных странах, но&nbsp^;ещё в&nbsp^;Чехии, Испании, Португалии и&nbsp^;Нидерландах.

Автор: Анастасия Билибина